<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- <head th:replace="common/header :: head_fragment(title=プロジェクト詳細)"></head> では警告が出る -->
<head th:replace="~{common/header :: head_fragment(title=プロジェクト詳細)}"></head>

<body class="h-100 overflow-hidden">
    <div class="row h-100">
        <div class="h-100 p-3 mb-2 bg-dark text-white col-sm-2">
            <nav th:replace="~{common/side :: copy}"></nav>
        </div>

        <div class="mt-3 h-100 col-sm-10">
            <div class="container-fluid p-0">
                <h1 th:text="'プロジェクト 詳細'" class="h3 mb-3"></h1>
            </div>

            <div class="mb-3 col-12 col-xxl-6">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body mb-5">

                            <div class="wizard wizard-success mb-4">

                                <table class="table table-striped">
                                    <tr>
                                        <th>プロジェクトコード</th>
                                        <td class="align-middle" th:text="${project.projectCode}"></td>
                                    </tr>
                                    <tr>
                                        <th>プロジェクト名</th>
                                        <td class="align-middle" th:text="${project.projectName}"></td>
                                    </tr>
                                    <tr>
                                        <th>期間(From)</th>
                                        <td class="align-middle" th:text="${#temporals.format(project.termFrom, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                    <tr>
                                        <th>期間(To)</th>
                                        <td class="align-middle" th:text="${#temporals.format(project.termTo, 'yyyy-MM-dd')}"></td>
                                    </tr>

                                    <tr>
                                        <th>メンバー</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>社員番号</td>
                                        <td>氏名</td>
                                    </tr>

                                    <!-- スクロールさせたい -->
                                    <th:block th:if="${!(#lists.isEmpty(members))}" class="can-scroll">
                                        <tr th:each="employee:${members}">
                                            <td class="align-middle" th:text="${employee.code}"></td>
                                            <td class="align-middle" th:text="${employee.name}"></td>
                                        </tr>
                                    </th:block>

                                    <th:block th:if="${#lists.isEmpty(members)}">
                                            <td></td>
                                            <td class="align-middle" th:text="メンバーがいません"></td>
                                    </th:block>

                                    <tr>
                                        <th>登録日時</th>
                                        <td class="align-middle" th:text="${#temporals.format(project.createdAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
                                    </tr>
                                    <tr>
                                        <th>更新日時</th>
                                        <td class="align-middle" th:text="${#temporals.format(project.updatedAt, 'yyyy-MM-dd hh:mm:ss')}"></td>
                                    </tr>
                                </table>
                                <div class="mt-5 row g-1">
                                    <div class="col-auto">
                                        <form name="form" th:action="@{/projects/{id}/update(id=${id})}" th:method="get">
                                            <input type="submit" value="更新" class="btn btn-primary">
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form name="form" th:action="@{/projects/{id}/delete(id=${id})}" th:method="post">
                                            <input type="submit" value="削除" class="btn btn-danger">
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <a th:href="@{/projects}" class="btn btn-primary">戻る</a>
                                    </div>
                                </div>
                                <span th:if="${deleteError} neq null" th:text="${deleteError}" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>