<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title th:text="プロジェクト更新"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/additional.css}" >
    <script defer th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body class="h-100 overflow-hidden">
    <div class="row h-100">
        <div class="h-100 p-3 mb-2 bg-dark text-white col-sm-2">
            <nav th:replace="~{common/side :: copy}"></nav>
        </div>

        <div class="mt-3 h-100 col-sm-10">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3">プロジェクト 更新</h1>
            </div>
            <div class="col-12 col-xxl-6">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="wizard wizard-success mb-4">
                            <div class="card-body">
                                <form th:action="@{/projects/{id}/update(id=${project.id})}" th:object="${project}" th:method="post">
                                    <div class="mb-3">
                                        <p class="mb-2"></p>
                                        <input type="hidden" id="id" name="id" th:field="*{id}"></input>
                                        <p class="mb-1"></p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="projectCode">プロジェクトコード</label>
                                        <p class="mb-1"></p>
                                        <div class="col-md-7">
                                            <input class="form-control w-25" type="text" th:field="*{projectCode}" th:errorclass="err" id="projectCode">
                                            <span th:errors="*{projectCode}" class="text-danger"></span>
                                            <span th:if="${projectCodeError} neq null" th:text="${projectCodeError}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="projectName">プロジェクト名</label>
                                        <p class="mb-1"></p>
                                        <div class="col-md-7">
                                            <input class="form-control" type="text" th:field="*{projectName}" th:errorclass="err" id="projectName">
                                            <span th:errors="*{projectName}" class="text-danger"></span>
                                            <span th:if="${projectNameError} neq null" th:text="${projectNameError}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="content">期間（開始日）</label>
                                        <p class="mb-1"></p>
                                        <div class="col-md-7">
                                            <input class="form-control w-50" type="date" th:field="*{termFrom}" th:errorclass="err" id="termFrom">
                                            <span th:errors="*{termFrom}" class="text-danger"></span>
                                            <span th:if="${termFromError} neq null" th:text="${termFromError}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="content">期間（終了日）</label>
                                        <p class="mb-1"></p>
                                        <div class="col-md-7">
                                            <input class="form-control w-50" type="date" th:field="*{termTo}" th:errorclass="err" id="termTo">
                                            <span th:errors="*{termTo}" class="text-danger"></span>
                                            <span th:if="${termToError} neq null" th:text="${termToError}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="projectName">メンバー</label>
                                        <p class="mb-1"></p>
                                        <div class="col-md-7">
                                            <!--選択肢はデータベースに登録されている従業員一覧を表示したい-->
                                            <table class="table table-striped w-100">
                                                <thead class="sticky">
                                                    <tr>
                                                        <th style="width: 20px;"></th>
                                                        <th style="width: 100px;">社員番号</th>
                                                        <th style="width: 200px;">氏名</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="sticky can-scroll">
                                                    <tr th:each="employee:${employeeList}">
                                                        <td><input type="checkbox" th:field="${project.members}" th:value="${employee.code}"></td>
                                                        <td class="align-middle" th:text="${employee.code}" style="width: 100px;"></td>
                                                        <td class="align-middle" th:text="${employee.name}" style="width: 200px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <p class="mt-5">
                                        <input type="submit" value="更新" class="btn btn-primary">
                                        <a th:href="@{/projects}" class="btn btn-primary">戻る</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>